
body {
  color: #464646;
  background: #FBFBFF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-height: 100%;
  /*position: relative;*/
}

html {
  position: relative;
}

#header {
  padding-top: 10px;
  max-width: 72em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

#bp_logo {
  width: 311px;
  height: 81px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.text_field {
  text-shadow: 1px 1px #000000;
  border-radius: 1px;
  position: relative;
  top: -11em;
  left: 29em;
  padding: 7px;
  background: rgba(31, 107, 165, 0.92);
  width: 30em;
  height: 3em;
}

#quote_button {
  color: #FFFFFF;
  margin: 5px 5px 0px 0px;
  float: right;
  padding: 3px 8px 3px 8px;
  background: rgb(244, 154, 0);
  border-radius: 20px;
  box-shadow: 3px 3px 5px #000000;
}

#stripe {
  width: 100%;
  height: 4px;
  background: url(../images/stripe.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  margin-bottom: 2em;
}

#makisu {
  border-radius: 1px;
  width: 1002px;
  margin-left: auto;
  margin-right: auto;
}

#service_background {
  background: url(../images/construction_worker.jpg);
  padding-top: 8em;
  width: 100%;
  height: 650px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#kitchen {
  background: url(../images/wood_kitchen.jpg);
  padding-top: 8em;
  width: 100%;
  height: 665px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#stone_kitchen {
  background: url(../images/stone_kitchen.jpg);
  padding-top: 5em;
  width: 100%;
  height: 580px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#blueprints{
  background: url(../images/blueprints.jpg);
  padding-top: 8em;
  width: 100%;
  height: 615px;
  background-size: 100%;
  background-repeat: no-repeat;
}

#framework{
  background: url(../images/pic_1.jpg);
  padding-top: 4em;
  width: 100%;
  height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.thumbnail_gallery {
  height: 100%;
}

.thumbnail{
  max-width: 100%;
  height: auto;
}

.col_25w {
  float: left;
  width: 25%;
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}

.col_50w {
  float: left;
  width: 49.5%;
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}

.std_content {
  color: #E8E8E8;
  border-radius: 10px;
  background: rgba(31, 107, 165, 0.85);
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 2px black;
}

.front_content {
  position: absolute;
  z-index: 100;
  width: 650px;
  /*height: 120px;*/
  padding: 20px;
  top: 16em;
  right: 4em;
}

.content {
  /*text-shadow: 0px 0px 1px #000000;*/
  width: 70%;
  padding: 3px 25px 3px 25px;
  font-size: 17px;
  margin-top: 30px;
}

.gallery_content {
  /*text-shadow: 0px 0px 1px #000000;*/
  width: 900px;
  padding: 3px 25px 3px 25px;
  font-size: 17px;
  margin-top: 30px;
}
.main {
  border-radius: 1px;
  padding: 48px;
  width: 67em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  min-height: 425px;
  background: rgba(37, 37, 37, 0.75);
}

.container {
  /*padding-top: 8em;*/
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*.front_container {
  padding-top: 8em;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}*/

#footer {
  position: absolute;
  font-size: 12px;
  width: 100%;
  background: black;
  padding: 22px 0px 22px 0px;
  margin-top: 6em;
  bottom: 0;
}

.list_box {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.profile_pic {
  float: right;
  height: 100px;
  margin-top: 17px;
}

.content a {
  color: #0E354C;
}

a {
  text-decoration: none;
  color: #808080;
}

#nav_links a:hover {
  border-top: solid 2px;
}

#nav_links {
  float: right;
  position: absolute;
  bottom: 0;
  right: 11px;
  font-size: 24px;
}

#nav_links a {
  margin-left: 13px;
}

#active{
  color: #95D6FC;
}

#footer a {
  color: #7bbde4;
}

#wrapper {
  min-height: 100vh;
  padding-bottom: 80px;
  /*position: relative;*/
}
